body {
    background-image: url("subway.jpeg");
    background-size: cover;
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}

div {
    background-color: azure;
    max-width: 80%;
    padding: 20px;
    margin: 100px;
    border: 4px solid maroon;
    border-radius: 30px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
}

#increment-btn {
    background: rgb(24, 60, 168);
}

#save-btn {
    background: rgb(1, 146, 1);
}

#save-el {
    font-weight: bold;
}
